#cta {
    background: url('../img/hero1/background.png') no-repeat center center;
    background-position: fixed;
    background-size: cover;
}

#cta .texto {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    width: 60%;
    margin-left: 20%;
}

#cta .texto h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Alfa Slab One', sans-serif;
}

#cta .botao {
    background: #e66f0f;
    margin-left: 22%;
    width: 55%;
    height: 18%;
    cursor: pointer;
    box-shadow: 3px 3px 3px #000;
    border-radius: 4px;
    
}



#cta .botao p{ 
    padding-top: 4%;
    text-align: center;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 20px;
    color: rgba(255,255,255,0.9);
    
}

#cta .imagem img {
    max-width: 100%;
    margin-top: 10%;
}

#apresentacao {

    background: url('../img/hero1/background2.png') no-repeat center center;
    background-size: cover;
    display: flex;

}

#apresentacao .texto {
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

#apresentacao .texto h1 {
    background:#3caa7f;
    z-index: 9999;
    font-family: 'Alfa Slab One', sans-serif;
}

#apresentacao .imagem {
    margin-left: 20%;

}

#what {
    background: url('../img/bg3.png') no-repeat center center;
    background-size: cover;
    text-align: center;

}

#what .texto {
    padding-top: 30px;
    color: #fff;
}

#what .texto .t1{
    margin-left: 25%;
    background-color: #680ca9;
    width: 50%;
    font-family: 'Alfa Slab One', sans-serif;
}

#what .texto .t2{
    margin-left: 10%;
    background-color: #680ca9;
    width: 80%;
    font-family: 'Alfa Slab One', sans-serif;
}

#what .texto p {
    font-size: 14px;
}

#what .botao {
    padding-top: 5px;
    cursor: pointer;
    height: 30px;
    margin-left: 20%;
    text-align: center;
    background-color: #680ca9;
    color: #fff;
    font-family: 'Alfa Slab One', sans-serif;
    width: 60%;
}