
    body p {
        
        font-weight: 400;
        font-style: normal;
        text-align: justify;
    }
    
    

        /*CTA*/
        
        #cta {
            background: url('../img/hero1/background.png') no-repeat center center;
            background-size: cover;
        }
        
        #cta .texto {
            padding-top: 30px;
            text-align: justify;
            color: #fff;
            width: 60%;
            width: 100%;
        }
        
        #cta .texto h1 {
            text-align: center;
            font-size: 25px;
            font-family: 'Alfa Slab One', sans-serif;
        }
        
        #cta .botao {
            background: #e66f0f;
            margin-left: 20%;
            padding-top: 7px;
            width: 60%;
            height: 40px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #000;
            border-radius: 4px;
            
        }
        
        
        
        #cta .botao p { 
            text-align: center;
            font-family: 'Alfa Slab One', sans-serif;
            color: rgba(255,255,255,0.9);
            
        }
        
        #cta .imagem img {
            max-width: 100%;
            margin-left: 10px;
            margin-bottom: 30px;
        }
        /*//CTA*/
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        /*APRESENTAÇÃO*/
        
        #apresentacao {
            
            background: url('../img/section1/background2.png') no-repeat center center;
            background-size: cover;
            display: flex;
            
        }
        
        #apresentacao .texto {
            color: #fff;
            margin-top: 30px;
            width: 100%;
            text-align: justify;
        }
        
        #apresentacao .texto p {
            font-weight: 500;
        }
        
        #apresentacao .texto h1 {
    
        background:#3caa7f;;
        font-family: 'Alfa Slab One', sans-serif;
    }
    
    #apresentacao .imagem {
        margin-left: 20%;
    
    }
    /*//APRESENTAÇÃO*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*WHAT*/
    
    #what {
        background: url('../img/section2/bg3.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #what .texto {
        padding-top: 30px;
        color: #fff;
    }
    
    #what .texto .t1{
        margin-left: 5%;
        background-color: #680ca9;
        width: 90%;
        font-family: 'Alfa Slab One', sans-serif;
    }
    
    #what .texto .t2{
        margin-left: 5%;
        background-color: #680ca9;
        width: 90%;
        font-family: 'Alfa Slab One', sans-serif;
    }
    
    #what .texto p {
        text-align: justify;
        color: #fff;
        margin-top: 30px;
        font-weight: 500;
        
    }
    
    #what .botao {
        padding-top: 7px;
        cursor: pointer;
        height: 40px;
        text-align: center;
        background-color: #680ca9;
        color: #fff;
        font-family: 'Alfa Slab One', sans-serif;
        width: 70%;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #000;
    }
    /*//WHAT*/
    
    
    
    
    
    
    
    
    
    
    
    /*BENEFICIOS*/
    
    #beneficios {
        left: 0;
        right: 0;
        text-align: center;
        background: url('../img/section1/background2.png') no-repeat center center;
        background-size: cover;
        color: #fff;
    }
    
    #beneficios .titulo .t1{
        background-color: #1261f2;
        font-size: 18px;
        height: 40px;
        width: 100%;
    }
    
    #beneficios .titulo .t2{ 
        background-color: #1261f2;
        
        font-size: 18px;
        width: 100%;

    }
    
    #beneficios .titulo h1 {
        padding-top: 13px;
        font-size: 25px;
        font-family: 'Alfa Slab One', sans-serif;
    
    }
    
    
    
    #beneficios .botao {
        background-color: #1261f2;
        font-family: 'Alfa Slab One', sans-serif;
        height: 40px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #000;
        padding-top: 7px;
        width: 60%;
        cursor: pointer;
        
    }
    
    #beneficios .mais {
        margin-top: 30px;
        font-family: 'Alfa Slab One', sans-serif;
        align-items: center;
        text-align: justify;
    
    }
    
    #beneficios .imagem img {
        max-width: 80%;
    }


    /*//BENEFÍCIOS*/
    
    
    
    
    
    
    
    
    
    
    
    /*DIFERENCIAIS*/
    
    #diferenciais {
        background: url('../img/bg6.png') no-repeat center center;
        background-size: cover;
        color: #fff;
        text-align: center;
    }
    
    #diferenciais .titulo .t1 {
        background-color: #e66f0f;
        font-family: 'Alfa Slab One', sans-serif;
        width: 100%;
        font-size: 30px;

    }
    
    #diferenciais .titulo .t2 {
        background-color: #e66f0f;
        font-family: 'Alfa Slab One', sans-serif;
        width: 100%;
        font-size: 30px;
       
    }
    
    
    
    #diferenciais .titulos1 .tt1 {
        
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        height: 30px;
        padding-top: 4px;
        width: 100%;
    }
    
    #diferenciais .titulos1 .tt2 {
        
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        width: 100%;
        height: 30px;
        padding-top: 4px;
    }
    
    #diferenciais .titulos2 .tt3 {
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        height: 30px;
        padding-top: 4px;
        width: 100%;
    }
    
    #diferenciais .titulos2 .tt4 {
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        height: 30px;
        padding-top: 4px;
        width: 100%;
        
    }
    
    #diferenciais .titulos3 .tt5 {
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        height: 30px;
        padding-top: 4px;
        width: 100%;
    }
    
    #diferenciais .titulos3 .tt6 {
        background: #13d66a;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 18px;
        height: 30px;
        padding-top: 4px;
        width: 100%;
    }
    
    #diferenciais img {
        width: 15%;
    }
    /*//DIFERENCIAIS*/
    
    
    
    
    
    
    
    
    
    
    /*RESULTADOS*/
    
    #resultados {
        background: url('../img/bg7.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    
    #resultados .titulo .t1 {
        background-color: #3caa7f;
        font-family: 'Alfa Slab One', sans-serif;
        width: 100%;
        font-size: 23px;
    }
    
    #resultados .titulo .t2 {
        background-color: #3caa7f;
        font-family: 'Alfa Slab One', sans-serif;
        width: 100%;
        font-size: 23px;
    }
    
    #resultados .subtitulo h3 {
        font-size: 18px;
        color: #fff;
        max-width: 400px;
        font-weight: 500;
        
    }
    
    #resultados .conteudo .cont1 {
        background-color: #3c44a9;
      
        font-size: 16px;
        height: 50px;
        padding-top: 15px;
        width: 100%;
        font-weight: 900;
   
    
    }
    
    #resultados .conteudo .cont2 {
        background-color: #3c44a9;
        font-size: 16px;
        height: 50px;
        padding-top: 15px;
        width: 100%;
        font-weight: 900;

    }
    
    #resultados .conteudo .cont3 {
        background-color: #3c44a9;
        font-size: 16px;
        height: 50px;
        padding-top: 7px;
        width: 100%;  
        font-weight: 900;
    }
    
    #resultados .conteudo .cont4 {
        background-color: #3c44a9;
        font-size: 16px;
        height: 40px;
        padding-top: 10px;
        width: 100%;
        font-weight: 900;

    }
    
    #resultados .botao {
        border: 1px solid #fff;
        width: 70%;
        height: 40px;
        padding-top: 8px;
        padding-left: 18px;
        border-radius: 10px;
        font-family: 'Alfa Slab One', sans-serif;
        margin-left: 15%;
      
    
    }
    
    #resultados .botao:hover {
        cursor: pointer;
    }
    /*//RESULTADOS*/
    
    
    
    
    
    
    
    
    /*CLIENTES */
    
    #clientes {
        background: url('../img/hero1/background.png') no-repeat center center;
        background-size: cover;
        color: #fff;
    }
    
    #clientes .titulo h1 {
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 20px;
    }
    
    #clientes .titulo .t1 {
        background: #1261f2;
        height: 40px;
        padding-top: 8px;
    }
    
    #clientes .titulo .t2 {
        background: #1261f2;
        height: 40px;
        padding-top: 7px;
    }
    
    #clientes .card {
        margin-top: 30px;
        border: none;
    }

    #clientes .card-body{
        background-color: #e66f0f;
        border: none;
    }
    
    #clientes .card-body .card-title {
        font-family: 'Alfa Slab One', sans-serif;
    }
    
    #clientes .card-body .card-text {
        font-weight: 500;
    }
    
    /*//CLIENTES*/

    



    /*ESPECIAL*/

    #especial {
        background: url('../img/bg8.png') no-repeat center center;
        background-size: cover;
        color: #fff;
    }

    #especial .titulo {
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 24px;
    }

    #especial .titulo .t1 {
        background-color: #e66f0f;
    }


    #especial .titulo2 {
        background: #13d66a;
        width: 60%;
        margin-left: 20%;
        font-family: 'Alfa Slab One', sans-serif;
    }

    /*//ESPECIAL*/

    /*COMPRA*/
    #compra {
        background: url('../img/section3/bg4.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }

    #compra .titulo {
        font-family: 'Alfa Slab One', sans-serif;
    }

    #compra .titulo .t1 {
        
        background: #3caa7f;
        width: 100%;
        font-size: 20px;
        height: 40px;
        padding-top: 7px;
    }

    #compra .subtitulo h3 {
        font-weight: 500;
    }

    #compra .subtitulo .marcacao {
        background: #3caa7f;
        font-size: 18px;
        width: 100%;
        height: 50px;
        padding-top: 5px;
        font-weight: 700;
        margin-left: 0px;
        border-radius: 4px;
    }


    /*//COMPRA*/


   /*DEVOLUÇÃO*/

   #devolucao {
       background: url('../img/hero1/background.png') no-repeat center center;
       background-size: cover;
        text-align: center;
        color: white;
   }
   
   #devolucao .titulo h1{
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 25px;
   }
   
   #devolucao .titulo .t1 {
       background: #1261f2;
       width: 100%;
   }

   #devolucao .paragrafo .p1, .p2{
       text-align: center;
   }

   #devolucao .titulo .t2 {
    background: #1261f2;
    width: 100%;
}

    #devolucao .botao {
        background-color: #1261f2;
        font-family: 'Alfa Slab One', sans-serif;
        height: 40px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #000;
        padding-top: 7px;
        padding-left: 20px;
        margin-left: 15%;
        width: 70%;
        cursor: pointer;
        
    }

   /*//DEVOLUÇÃO*/

   /*COMPRAS*/
    #compras {
        background: url('../img/section2/bg3.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    
    #compras .titulo {
        background: #3caa7f;
        font-family: 'Alfa Slab One', sans-serif;
        width: 100%;

    } 

    #compras .conteudo1 .t1 {
        background: #3caa7f;
        width: 100%;
        height: 40px;
        font-weight: 900;
        padding-top: 8px;
    }
    #compras .conteudo1 .t2 {
        background: #ae3e3e;
        width: 100%;
        font-size: 25px;
        font-weight: 300;
    }
    #compras .conteudo1 span {
        font-size: 30px;
        font-weight: 700;
    }

    #compras .conteudo1 .t3 {
        font-weight: 900;
    }

    #compras .conteudo1 .t4 {
    
        font-size: 14px;
        font-weight: 400;
        background: #ae3e3e;
        width: 97%;
        height: 40px;
        padding-top: 5px;
        margin-left: 5px;
    } 

    #compras .botao {

        border: 2px solid #fff;
        width: 70%;
        height: 40px;
        padding-top: 6px;
        padding-left: 18px;
        margin-left: 15%;
        border-radius: 8px;
        font-family: 'Alfa Slab One', sans-serif;
        
    }

    

    #compras .botao:hover {
        cursor: pointer;
    }
    


   /*//COMPRAS*/


   @media screen and (min-width: 320px) {
    

    #apresentacao .texto .t1 {
        text-align: center;
    }   

    #apresentacao .texto .t2 {
        height: 30px;
        text-align: center;
    }

    #what .botao {
        padding-left: 20px;
        margin-left: 15%;
    }

    #beneficios .titulo .t1 {
        height: 40px;
    }

    #beneficios .titulo .t2 {
        height: 40px;
    }

    #beneficios .mais {
        margin-left: 20%;
    }

    #beneficios .botao {
        width: 65%;
        padding-left: 10px;
        margin-left: 15%;
    }
    

}



@media screen and (min-width: 375px) {
    #what .botao {
        padding-left: 40px;
    }

    #beneficios .botao {
        padding-left: 30px;
    }

    #resultados .botao {
        padding-left: 40px;
    }

    #clientes .card {
        margin-left: 8%;
    }

    #devolucao .botao {
        padding-left: 40px;
    }

    #compras .botao {
        padding-left: 40px;
    }
}



    @media screen and (min-width: 414px) {
        
        #cta .texto h1 {
            font-size: 40px;
        }

        #what .botao {
            padding-left: 50px;
        }

        #beneficios .botao {
            padding-left: 40px;
        }

        #diferenciais .paragrafo2 p {
            text-align: justify;
        }

        #resultados .botao {
            padding-left: 50px;
        }

        #clientes .card {
            margin-left: 12%;
        }

        #devolucao .botao {
            padding-left: 50px;
        }

        #compras .botao {
            padding-left: 50px;
        }
}

    @media screen and (min-width: 768px) {
    
        #cta .imagem {
            margin-top: 15%;
        }

        #apresentacao .texto .t2 {
            height: 40px;
        }

        #apresentacao .imagem {
            margin-top: 20%;
            width: 100%;
            margin-left: -10px;
        }

        #what .titulo .t1{
            width: 50%;
            margin-left: 22%;
        }
        
        #what .titulo .t2 {
            width: 50%;
            margin-left: 22%;
        }

        #what .paragrafo {
            max-width: 400px;
            margin-left: 20%;
        }

        #what .botao{
            width: 30%;
            padding-left: 30px;
            margin-left: 33%;
        }

        #beneficios .titulo .t1 {
            width: 70%;
            margin-bottom: 10px;
            margin-left: 15%;
            height: 55px;
            font-size: 30px;
        }

        #beneficios .titulo .t2 {
            width: 70%;
            margin-bottom: 10px;
            margin-left: 15%;
            height: 55px;
            font-size: 30px;
        }

        #beneficios .mais h1 {
            font-size: 50px;
            margin-left: 10%;
        }

        #beneficios .botao {
            width: 30%;
            height: 40px;
            padding-left: 30px;
            margin-left: 30%;
        }

        #beneficios .imagem {
            width: 70%;
            margin-left: 12%;
        }

        #diferenciais .titulo .t1 {
            font-size: 30px;
            width: 50%;
            margin-left: 20%;
        }

        #diferenciais .titulo .t2 {
            font-size: 30px;
            width: 50%;
            margin-left: 20%;
        }

        #diferenciais .icones1 {
            width: 100%;
        }

        #diferenciais .titulos1 .tt1 {
            font-size: 16px;
        }

        #diferenciais .titulos1 .tt2 {
            font-size: 16px;
        }

        #diferenciais .paragrafo1 .p1 {
            max-width: 300px;
            text-align: left;
        }

        #diferenciais .icones2 {
            width: 100%;
        }

        #diferenciais .titulos2 .tt3 {
            font-size: 15px;
        }

        #diferenciais .titulos2 .tt4 {
            font-size: 16px;
        }

        #diferenciais .paragrafo2 .p2 {
            max-width: 300px;
            text-align: left;
        }

        #resultados .titulo .t1 {
            width: 60%;
            height: 40px;
            font-size: 30px;
            margin-left: 20%;
        }

        #resultados .titulo .t2 {
            width: 60%;
            height: 40px;
            font-size: 30px;
            margin-left: 20%;
        }

        #resultados .subtitulo h3 {
            margin-left: 20%;
            font-weight: 700;
        }

        #resultados .conteudo .cont1 {
            width: 60%;
            font-size: 20px;
            margin-left: 20%;
            font-style: italic;
        }

        #resultados .conteudo .cont2 {
            width: 60%;
            font-size: 20px;
            margin-left: 20%;
            font-style: italic;
        }

        #resultados .conteudo .cont3 {
            width: 60%;
            font-size: 20px;
            margin-left: 20%;
            font-style: italic;
        }

        #resultados .conteudo .cont4 {
            width: 60%;
            font-size: 20px;
            margin-left: 20%;
            font-style: italic;
        }

        #resultados .botao {
            width: 30%;
            padding-left: 30px;
            margin-left: 33%;
        }
        
        #clientes .titulo .t1 {
            width: 50%;
            margin-left: 25%;
            font-size: 30px;
            height: 45px;
        }

        #clientes .titulo .t2 {
            width: 50%;
            margin-left: 25%;
            font-size: 30px;
            margin-bottom: 30px;
            height: 45px;
        }

        #clientes .card {
            display: inline;
            margin-left: 0%;
        }

        #clientes .card-body .card-text {
            text-align: left;
        }

        #especial .titulo .t1 {
            width: 50%;
            margin-left: 25%;
        }

        #especial .titulo2 {
            width: 50%;
            margin-left: 25%;
        }

        #especial .paragrafo p {
            max-width: 350px;
            text-align: left ;
            margin-left: 25%;
        }

        #compra .titulo .t1{
            width: 50%;
            margin-left: 25%;
        }

        #compra .subtitulo h3 {
            max-width: 500px;
            margin-left: 18%;
            font-weight: 400;
        }

        #compra .subtitulo .marcacao {
            width: 50%;
            margin-left: 25%;
            font-style: italic;
        }

        #compra .imagem {
            width: 50%;
            margin-left: 25%;
        }

        #devolucao .titulo .t1 {
            width: 50%;
            font-size: 30px;
            margin-left: 25%;
        }

        #devolucao .titulo .t2 {
            width: 50%;
            font-size: 30px;
            margin-left: 25%;
        }

        #devolucao .paragrafo {
            max-width: 400px;
            margin-left: 22%;
        }

        #devolucao .botao {
            width: 30%;
            padding-left: 30px;
            margin-left: 35%;
        }

        #compras .titulo {
            width: 50%;
            margin-left: 25%;
        }

        #compras .imagem {
            width: 70%;
            margin-left: 18%;
        }
        
        #compras .conteudo1 .t1 {
            width: 50%;
            margin-left: 25%;
        }

        #compras .conteudo1 .t2{
            width: 50%;
            margin-left: 25%;
        }

        #compras .conteudo1 .t4{
            width: 50%;
            margin-left: 25%;
            height: 50px;
            font-weight: 500;
            font-size: 18px;
        }

        #compras .botao {
            width: 30%;
            padding-left: 30px;
            margin-left: 35%;
        }
    }

    @media screen and (min-width: 1024px) {
        #apresentacao .imagem{
            width: 70%;
            margin-top: 40px;
        }

        #what .paragrafo {
            margin-left: 27%;
        }

        #what .botao {
            width: 30%;
            padding-left: 7%;
        }

        #beneficios .titulo .t1{
            font-size: 30px;
            width: 50%;
            margin-left: 25%;
        }

        #beneficios .titulo .t2 {
            width: 50%;
            margin-left: 25%;
        }

        #beneficios .mais{
            margin-left: 25%;
        }

        #beneficios .botao {
            margin-top: 30px;
            padding-left: 7%;
            margin-left: 33%;
        }

        #beneficios .imagem {
            width: 50%;
            margin-left: 25%;
        }

        #diferenciais .titulo {
            margin-left: 10%;
        }

        #diferenciais .p1, .p2, .p3 {
            margin-top: 20px;
        }

        #resultados .subtitulo {
            margin-left: 10%;
        }
        
        #resultados .conteudo .cont1 {
            font-size: 25px;
            width: 50%;
            height: 40px;
            padding-bottom: 40px;
            margin-left: 23%;
        }

        #resultados .conteudo .cont2 {
            font-size: 25px;
            width: 50%;
            height: 40px;
            padding-bottom: 40px;
            margin-left: 23%;
        }

        #resultados .conteudo .cont3 {
            font-size: 25px;
            width: 50%;
            height: 40px;
            padding-bottom: 40px;
            margin-left: 23%;
        }

        #resultados .conteudo .cont4 {
            font-size: 25px;
            width: 50%;
            height: 40px;
            padding-bottom: 40px;
            margin-left: 23%;
        }
        
        #resultados .botao {
            padding-left: 7%;
            margin-left: 32%;
        }

        #especial .paragrafo {
            margin-left: 10%;
        }

        #compra .subtitulo h3 {
            margin-left: 25%;
        }

        #compra .imagem {
            width: 40%;
            margin-left: 30%;
        }

        #devolucao .paragrafo {
            margin-left: 29%;
        }

        #devolucao .botao {
            padding-left: 7%;
            margin-left: 35%;
        }

        #compras .botao{
            padding-left: 7%;
        }
    }

    @media screen and (min-width: 1366px) {
        #apresentacao .texto p {
            max-width: 400px;
            margin-left: 20%;
        }

        #apresentacao .imagem {
            width: 60%;
        }

        #what .paragrafo{
            margin-left: 32%;
        }
        
        #what .botao {
            width: 20%;
            padding-left: 4%;
            margin-left: 37%;
        }

        #beneficios .mais {
            margin-left: 30%;
        }

        #beneficios .botao{
            width: 20%;
            padding-left: 4%;
            margin-left: 40%;
        }

        #beneficios .imagem {
            width: 40%;
            margin-left: 30%;
        }

       #diferenciais .titulos1 .icones1 img{
           width: 12%;
       }

       #diferenciais .titulos2 .icones2 img{
        width: 14%;
         }
    
        #diferenciais .titulos3 .icones3 img{
        width: 12%;
        }

        #resultados .titulo .t1{
            width: 40%;
            margin-left: 30%;
        }

        #resultados .titulo .t2{
            width: 40%;
            margin-left: 30%;
        }

        #resultados .subtitulo {
            margin-left: 20%;
        }

        #resultados .conteudo .cont1 {
            width: 40%;
            margin-left: 30%;
        }

        #resultados .conteudo .cont2 {
            width: 40%;
            margin-left: 30%;
        }

        #resultados .conteudo .cont3 {
            width: 40%;
            margin-left: 30%;
        }

        #resultados .conteudo .cont4 {
            width: 40%;
            margin-left: 30%;
        }

        #resultados .botao {
            width: 20%;
            padding-left: 4%;
            margin-left: 40%;
        }
    
        #clientes .card {
            margin-left: 30px;
        }

        #clientes .card img{
            width: 80%;
        }

        #clientes .card-body{
            width: 80%;
            margin-left: 30px;
        }

        #especial .titulo2 {
            width: 30%;
            margin-left: 35%;
        }

        #especial .paragrafo {
            margin-left: 15%;
        }

        #compra .titulo .t1 {
            width: 30%;
            margin-left: 35%;
        }

        #compra .subtitulo h3{
            margin-left: 30%;
        }

        #compra .subtitulo .marcacao{
            width: 40%;
            margin-left: 30%;
            padding-top: 15px;
        }

        #compra .imagem {
            width: 30%;
            margin-left: 35%;
        }

        #devolucao .titulo .t1 {
            width: 30%;
            margin-left: 35%;
        }
        
        #devolucao .titulo .t2 {
            width: 30%;
            margin-left: 35%;
        }

        #devolucao .paragrafo {
            margin-left: 35%;
        }

        #devolucao .botao {
            width: 20%;
            padding-left: 4%;
            margin-left: 40%;
        }

        #compras .titulo{
            width: 40%;
            margin-left: 30%;
        }

        #compras .imagem {
            width: 40%;
            margin-left: 30%;
        }

        #compras .conteudo1 .t1 {
            width: 30%;
            margin-left: 35%;
            height: 50px;
        }

        #compras .conteudo1 .t2 {
            width: 30%;
            margin-left: 35%;
        }

        #compras .conteudo1 .t4{
            width: 30%;
            margin-left: 35%;
        }

        #compras .botao {
            width: 20%;
            padding-left: 4%;
            margin-left: 40%;
        }
    }
    